body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Rubik Mono One', sans-serif;
  overflow-x: hidden;
}

.icon-container {
  margin: 20px;
  display: flex;
  align-items: center;
}

/*se cambio el tamaño del icono de la barra de navegacion*/

.icon-image {
  max-width: 100px;
  max-height: 100px;
  margin-right: 20px;
}

.nav-image {
  width: 100%;
  height: auto;
  max-width: 100vw;
  margin-top: 60px;
  z-index: 1;
}

/*se cambio el color del background de la barra de navegacion*/
nav {
  background-color: rgb(190, 147, 5);
  padding: 1px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

/* se cambio la fuente de la barra de navegacion*/
nav a {
  color: #000000;
  text-decoration: none;
  margin: 10px 15px;
  font-size: 22px;
  font-family: 'Lobster', cursive;
}

/* Estilo para las secciones debajo de la imagen */
section {
  text-align: left;
  color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 38px;
  font-family: 'Rubik Doodle Shadow', sans-serif;
  margin: 0;
  background-image: url('https://img.freepik.com/foto-gratis/textura-papel-cuadrados_23-2147786544.jpg?size=626&ext=jpg&ga=GA1.1.1687694167.1703721600&semt=ais');
  background-size: contain;
  background-position: center;
}

section .content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .text-content {
  width: 60%; /* Ajusta el ancho del contenido de texto */
}

section p {
  color: black;
  text-align: left;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  margin: 15px 0; /* Añade margen arriba y abajo para separar los párrafos */
}

section img {
  max-width: 40%; /* Ajusta el ancho de la imagen */
}

section {
  scroll-margin-top: 50px; /* Ajusta el margen superior para el desplazamiento suave */
}

/* Ajuste de margen superior para el título Presentación */
#presentacion h2 {
  margin-top: 90px; /* Ajusta el margen superior según tus preferencias */
}

h2 {
  text-align: center;
}


.link {
  color: rgb(255, 2, 2);
}

.rifle {
  color: rgb(38, 9, 117);
}

/*se redujo el tamaño de la imagen de la barra de navegacion*/
.barranav {
  width: 500px;
  height: 100px;
}